/* Add a black background color to the top navigation */
.topnav {
  background-color: #791212;
  overflow: hidden;
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
}

.book-icon {
  margin-left: 13em;
  margin-right: 15px;
  margin-top: 3px;
  color: whitesmoke;
}
.cart-icon{
  color: whitesmoke;
}
.counter-div{
  margin-top: 8px;
    border-radius: 480px;
    height: 12px;
    margin-left: -12px;
    padding: 5px;
    padding-top: 0px;
    font-size: 12px;
    color: black;
    background: #fbe67d;
    font-weight: 700;
    border: none;
}
.bookicon{
  font-size: 24px;
}

.book-title{
  color: whitesmoke;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* display: flex; */
  /* align-items: center; */
  margin-top: -3px;
}

.search-bar{
  margin: 19px;
    margin-left: 4em;
}

.MuiInputBase-root{
  padding-left: 7px;
  color: gray;
}

.MuiInput-root {
  position: relative;
  height: 42px;
}

.search {
  width: 403px;
  border-radius: 4px;
  background-color: white;
    /*height: 30px;*/
    opacity: 90%;

}
.MuiTextField-root{
  height: 30px;
  opacity: 90%;
}
.cart-div{
  display: flex;
  color: whitesmoke;
  font-size: 13px;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  width: 117px;
  padding-left: 372px;
}

.App-logo{
  display: flex;
    padding-left: 47px;
    padding-right: 47px;
    height: 50%;
    width: 58%;
    padding-right: -135px;
    /* margin-left: 65px; */
    margin-top: 12px;
}
.book-count-div{
  color: #3c3636;
  margin-top: 11px;
  font-size: 13px;
  margin-left: -777px;
}
.cart-icon-div {
  margin-top: 14px;
    margin-left: 6px;
}
.p-footer{
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
}
.footer {
   position: relative;
    width: 100%;
    background-color: #333;
    color: white;
    height: 45px;
    bottom: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.cart-button{
  background: none;
    border: none;
    outline: none;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.book-card-div {
  box-shadow: 14px 10px 11px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 228px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 22px;
  height: 322px;

}

.book-card-div:hover {
  box-shadow: 11px 11px 11px 5px rgba(0, 0, 0, 0.40);
  /*height: 323px;*/
  /*width:229px;*/
}


.MuiContainer-root {
  padding-left: 44px !important;

}
.MuiContainer-maxWidthLg{
  max-width: 1320px !important;
}
.card-header{
  padding-top: 75px;
  padding-left: 164px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.sort-by-div{
  margin-right: 230px;
}
.select-bar{
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: 141px;
  outline: none;
  /*background-color: #eae6e6;*/
}
.book-title-div{
    font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin-left: 20px;
}
.author-name-div{
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 13px;
  color: #968e8e;
  margin-left: 20px;
  margin-top: -18px;
}
.book-price-div{
    font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin-left: 20px;
    margin-top: -11px;
    font-weight: 500;
}

.button-div{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.add-bag-button{
  height: 29px;
  width: 110px;
  background-color: #791212;
  color: whitesmoke;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.added-bag-button{
  height: 29px;
  width: 187px;
  background-color: dodgerblue;
  color: whitesmoke;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
.add-bag-button:hover{
  background-color:#a22121;
  transition-duration: .3s;
  width: 115px;
}
.add-bag-button:focus{
  /*width:174px;*/
  background-color:#a22121;
  margin-left: 7px;
  margin-right:7px;
}
.wishlist-button{
  width: 79px;
    background-color: #ffffff;
    color: black;
    font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}
.wishlist-button:hover{
  background-color: #f7f3f3;
  transition-duration: .3s;
  width: 83px;
}
.wishlist-button:focus{
  width: 93px;
  background-color: #efe3e3;
}
.MuiContainer-maxWidthLg {
    margin-left: 22px !important;
}
.BookCard-Header {
  font-size: 22px;
  font-family: cursive;
  margin-left: 60px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 133px;
  min-height: 578px;
}

/* OrderPlaced Css */

.order-placed-container{
  display: flex;
  /* height: 522px; */
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 81px; */
  min-height: 683px;
  flex-direction: column;
}
.upper-image-div{
  margin-top: 102px;
}
.table-div{
  position: relative;
    top: 52px;
    width: 772px;
    height: 52px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
table {
  font-family:  adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.order-image-div{
  height: 112px;
    top: 83px;
    left: 580px;
}
.order-info{
  text-align: center;
  font-weight: 600;
  font-family:  adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.continue-shopping-button-div{
display: flex;
    /* margin-top: 2px; */
    position: absolute;
    top: 607px;
    height: 35px;
}
.continue-shopping-button{
  background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 5px;
    width: 190px;
    font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.continue-cart-div{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.continue-shopping-cart-button{
  background-color: dodgerblue;
  height: 32px;
  /* margin-top: -99px; */
  margin-block-start: auto;
  /* padding-bottom: 5px; */
  border: none;
  color: white;
  border-radius: 5px;
  width: 190px;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.continue-shopping-details-button{
  background-color: dodgerblue;
  border: none;
  color: white;
  height: 32px;
  border-radius: 5px;
  width: 190px;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.continue-shopping-button:hover{
  background-color: #007bf3;
}

/* AddCartComponent Css */

.cart-component
{
  display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.MuiGrid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: -20px;
  margin-top: 117px;
}

.grid-div{
  margin-top: -232px;
}

.order-details-div{
  display: flex;
}

.cart-title-div {
  padding: 1px;
  margin-left: 58px;
}

.img-book {
  width: 220px;
    /* border: 2px solid; */
    margin-left: 26px;
    margin-bottom: 15px;
}

.plus-btn {
  border-radius: 20px;
    border: 1px solid gray;
    margin: 6px;
    width: 27px;
    height: 27px;
    width: 28px;
}

.MuiInputBase-input {
  height:7px !important;
}

.input-type{
  width: 51px;
  height: 20px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.quantity-div {
  align-items: center;
    justify-content: center;
    display: flex;
    padding: 14px;
}

.remove-btn {
  margin-left: 20px;
  height: 29px;
  width: 73px;
  border: 2px solid brown;
  color: brown;
  background: #efe7e7;
  background: #f5eded;
  border-radius: 3px;
  outline: none;
}

.order-logo{
  width: 106px;
  margin-left: 30px;
  margin-top: 16px;
  /* font-size: 31px; */
  height: 134px;
}
.book-details-div{
  margin-left: -23px;
  /* margin-right: -159px; */
  margin-top: -10px;
}

.icon {
  margin-left: -5px;
  margin-top: -1px;
}

.minus-btn {
  border-radius: 20px;
    border: 1px solid gray;
    margin: 6px;
    width: 27px;
    height: 25px;
}

.checkout-div{
  display: flex;
    justify-content: flex-end;
    padding: 14px;
    margin-right: 45px;
}

.checkout-button {
  color: whitesmoke;
  background-color: dodgerblue;
  height: 32px;
  width: 190px;
  border-radius: 5px;
  border: 1px;
}

.order-sumary{
  border: 1px solid #757575;
    border-radius: 2px;
}

.cart-order{
  border: 1px solid #757575;
  /* box-shadow: inset 2px 3px 3px -1px #9E9E9E, 1px 3px 3px 0px #9E9E9E, 2px 2px 3px 2px #9E9E9E; */
  border-radius: 5px;
  margin-top: 358px;
  padding-bottom: 10px;
}
.MuiGrid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: -20px;
  padding-bottom: 292px;
  }
.Customer-address-div{
  border: 1px solid #757575;
    border-radius: 5px;
}

.address-title{
  padding: 1px;
  margin-left: 24px;
}

.row-1{
  display: flex;
    justify-content: space-around;
    margin-left: -43px;
    padding: 15px;
}

.row-2{
  display: flex;
    justify-content: space-around;
    margin-left: -43px;
    padding: 15px;
}

.row-3{
  display: flex;
    justify-content: space-around;
    margin-left: -43px;
    padding: 15px;
}

.row-4{
  display: flex;
    justify-content: space-around;
    margin-left: -43px;
    padding: 15px;
}

/* .MuiFormControl-root {
  border: 1px solid black;
} */

.text-field-address{
  width: 918px;
}

.text{
  width:30px;
  height:30px;
}

.text-field{
  border-radius: 2px;
  width: 395px;
}

.radio-div{
  margin-left: 27px;
}

.radio-values{
  display:flex;
}


.continue-details-div{
  display: flex;
  justify-content: flex-end;
  /* padding: 11px; */
  margin-right: 21px;
  padding-bottom: 10px;
  padding-right: -14px;
  justify-content: flex-end;
}
.address-button{
  color: whitesmoke;
    background-color: #0D47A1;
    height: 31px;
    width: 160px;
    border-radius: 5px;
    border: 1px;
}

/* media query for width 1280px */

@media only screen and (min-width: 1280px) {
  .book-icon {
    margin-left: 13em !important;
}

.search {
  width: 403px!important;
}

.cart-div {
  margin-left: 193px;
}

.bookicon {
  font-size: 24px !important;
}

h2 {
  font-size: 1.2em !important;
}

.search-bar {
  margin: 19px !important;
  margin-left: 4em !important;
}

.BookCard-Header {
  margin-left: 60px !important;
}

.sort-by-div {
  padding-right: 56px;
}

.book-count-div {
  padding-right: 250px;
}

.p-footer {
  font-size: 14px !important;
}

/* cartpage  */
.quantity-div {
  display: flex !important;
  padding: 14px !important;
}

.cart-order {
    margin-left: 106px;
}

.Customer-address-div{
  margin-left: 106px;
}

.MuiContainer-root {
  width: 84%!important;
}

.order-sumary{
  margin-left: 106px;
}

.row-3{
  margin-left: -29px;
}

.remove-btn{
  margin-top: -1px !important;
}

.MuiOutlinedInput-root {
  width: 442px !important;
  margin-left: -11px !important;
}

.MuiInputLabel-outlined {
  margin-left: -40px;
}

.MuiGrid-spacing-xs-5 {
  margin: 42px !important;
}

/* orderplaced */
.table-div {
  width: 772px !important;
}
  
}

@media only screen and (min-width: 768px) {
/* Header media query */
.book-icon {
  margin-left: 6em !important;
  margin-right: 15px;
  margin-top: 3px;
  color: whitesmoke;
}

.search {
  width: 285px!important;
}

.search-bar{
  margin-left: 2em!important;
}

.cart-div {
  padding-left: 45px !important;
}

.BookCard-Header {
  margin-left: -70px !important;
}

.sort-by-div {
  margin-right: 95px !important;
}

.book-count-div {
  margin-left: -308px !important;
}

.card-container {
  height: auto;
  min-height: 862px!important;
}


/* AddCartPAge medis querry */
.MuiOutlinedInput-root {
  border-radius: 4px;
  width: 254px !important;
  margin-left: 51px !important;
}

.MuiInputLabel-outlined {
  margin-left: 23px;
}

.cart-title-div {
  margin-left: 15px;
}
.order-details-div {
  margin-left: -40px;
}

.book-details-div {
  margin-left: -75px;
}

.continue-shopping-cart-button {
  width: 136px;
}

.checkout-div {
  padding: 11px;
  margin-right: 23px;
}

.checkout-button {
  width: 153px;
}

.grid-div {
  height: 1495px;
}

.MuiGrid-spacing-xs-5 {
  padding-bottom: 59px;
}

/* orderPlaced mediaquerry */
.upper-image-div {
  margin-top: 48px;
}

.table-div {
  width: 604px !important;
}

.order-placed-container {
  margin-top: 129px;
}

.continue-shopping-button-div {
  margin-top: 50px !important;
}
}


@media only screen and (min-width: 1024px)
{
  .book-icon {
    margin-left: 8em !important;
}

.logo-title {
  font-size: 19px!important;
}

.search-bar {
  margin-left: 4em !important;
}

.search {
  width: 403px !important;
}

.cart-div {
  padding-left: 81px !important;
}

.BookCard-Header {
  margin-left: -39px !important;
}

.sort-by-div {
  margin-right: 129px !important;
}

.book-count-div {
  margin-top: 7px !important;
  margin-left: -512px !important;
}

/* AddCartPage */
 .MuiOutlinedInput-root {
  width: 332px!important;
    margin-left: 54px;
}

.MuiGrid-spacing-xs-5 {
  width: calc(100% + -75px);
  margin: -20px;
}

.MuiInputLabel-outlined {
  margin-left: 25px;
}

.grid-div {
  margin-top: -290px;
  margin-left: 85px;
  width: 85%;
} 

/* orderplaced */
.table-div {
  width: 90% !important;
}

.order-placed-container {
  margin-top: 64px;
}

.continue-shopping-button-div {
  top: 547px !important;
}
}


/* media query for width 700px */

@media only screen and (min-width: 700px){

/* Header media query */
.book-icon {
  margin-left: 2em;
  margin-right: 15px;
  margin-top: 3px;
  color: whitesmoke;
}

.search {
  width: 285px;
}

.cart-div {
  padding-left: 42px;
}

.BookCard-Header {
  margin-left: -95px;
}

.sort-by-div {
  margin-right: 72px;
}


/* AddCartPAge medis querry */
.MuiOutlinedInput-root {
  border-radius: 4px;
  width: 231px;
  margin-left: 48px;
}

.MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(60px, 20px) scale(1) !important;
  pointer-events: none;
}

.cart-title-div {
  margin-left: 15px;
}
.order-details-div {
  margin-left: -40px;
}

.book-details-div {
  margin-left: -75px;
}

.continue-shopping-cart-button {
  width: 136px;
}

.checkout-div {
  padding: 11px;
  margin-right: 23px;
}

.checkout-button {
  width: 153px;
}

.grid-div {
  margin-top: -274px;
}

.MuiGrid-spacing-xs-5 {
  padding-bottom: 59px;
}

/* orderPlaced mediaquerry */
.upper-image-div {
  margin-top: 48px;
}

.table-div {
  width: 604px;
}

.continue-shopping-button-div {
  margin-top: -69px;
}

}


/* media query for width 400px */

@media only screen and (min-width: 400px) {
  .book-icon {
    margin-left: 1em;
  }

  .logo-title{
    font-size: 15px;
  }

  .MuiContainer-maxWidthLg {
     margin-left: 0px !important;

}

  .search {
    width: 110px;
  }

  .search-bar {
    margin: 1px;
    margin-left: 1em;
}

  .cart-div{
    padding-left: 26px;
  }
  
  .book-count-div {
    color: #3c3636;
    margin-top: 6px;
    font-size: 15px;
    margin-left: -102px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 133px;
  height: auto;
  min-height: 612px;
}

  .BookCard-Header {
    margin-left: -142px;
}
.sort-by-div {
  margin-right: 19px;
}

/* cartpage media query */
.cart-title-div {
  padding: 1px;
  margin-left: 13px;
}
.order-details-div {
  display: flex;
  margin-left: -38px;
}

.img-book {
  width: 152px;
}

.book-details-div {
  margin-left: -4px;
  margin-top: -10px;
}

.remove-btn {
  margin-top: 8px;
}

.quantity-div {
  display: flex;
  padding: 9px;
  display: block;
}
.input-type {
  width: 40px;
  height: 13px;
  padding-top: 14px;
}

.continue-shopping-cart-button {
  width: 132px;
}

.continue-shopping-details-button {
  width: 132px;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  width: 122px;
  margin-left: 35px;
}

.MuiGrid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: -24px !important;
}

.MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(42px, 20px) scale(1)!important;
  pointer-events: none;
}

.grid-div {
  margin-top: -293px;
}

.MuiGrid-spacing-xs-5 {
  padding-bottom: 21px;
}

.checkout-div {
  display: flex;
  justify-content: flex-end;
  padding: 14px;
  margin-right: 0px;
}

.checkout-button{
  width: 132px;
}

/* ordersummary media querry */
.table-div {
  width: 387px;
  height: 52px;
}
  
}


@media only screen and (min-width: 360px){
  .book-icon {
    margin-left: 1em;
  }

  .logo-title{
    font-size: 15px;
  }

  .MuiContainer-maxWidthLg {
     margin-left: 0px !important;

}

  .search {
    width: 110px;
  }

  .search-bar {
    margin: 1px;
    margin-left: 1em;
}

  .cart-div{
    padding-left: 26px;
  }
  
  .book-count-div {
    color: #3c3636;
    margin-top: 6px;
    font-size: 15px;
    margin-left: -50px;
}

.p-footer {
  font-size: 11px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 133px;
  height: auto;
  min-height: 612px;
}

  .BookCard-Header {
    margin-left: -142px;
}
.sort-by-div {
  margin-right: 19px;
}

/* cartpage media query */
.cart-title-div {
  padding: 1px;
  margin-left: 13px;
}
.order-details-div {
  display: flex;
  margin-left: -38px;
}

.img-book {
  width: 152px;
}

.book-details-div {
  margin-left: -4px;
  margin-top: -10px;
}

.remove-btn {
  margin-top: 8px;
}

.quantity-div {
  display: flex;
  padding: 9px;
  display: block;
}
.input-type {
  width: 40px;
  height: 13px;
  padding-top: 14px;
}

.continue-shopping-cart-button {
  width: 132px;
}

.continue-shopping-details-button {
  width: 132px;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  width: 122px;
  margin-left: 35px;
}

.MuiGrid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: -24px !important;
}

.MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(42px, 20px) scale(1)!important;
  pointer-events: none;
}

.grid-div {
  margin-top: -293px;
 /* width: 115%; */
}

.cart-order {
  width:115%;
}

.Customer-address-div {
  width:115%;
}

.order-sumary{
  width:115%;
}

.continue-shopping-button-div {
  top: 662px;
  height: 35px;
  margin-bottom: 2em;
}

.MuiGrid-spacing-xs-5 {
  padding-bottom: 21px;
}

.checkout-div {
  display: flex;
  justify-content: flex-end;
  padding: 14px;
  margin-right: 0px;
}

.checkout-button{
  width: 132px;
}

/* ordersummary media querry */
.table-div {
  width: 361px;
}
  
}