/* Add a black background color to the top navigation */
.topnav {
  background-color: #791212;
  overflow: hidden;
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
}

.book-icon {
  margin-left: 7em;
  margin-right: 12px;
  margin-top: 5px;
  color: whitesmoke;
}
.cart-icon{
  color: whitesmoke;
}
.bookicon{
  font-size: 24px;
}

.book-title{
  color: whitesmoke;
  font-family: monospace;
}

.search-bar{
  margin: 19px;
    margin-left: 4em;
}

.search {
  width: 403px;
  border-radius: 4px;
  height: 24px;
  opacity: 90%;

}

.cart-div{
  display: flex;
  color: whitesmoke;
  font-size: 13px;
  font-family: monospace;
  width: 117px;
  padding-left: 372px;
}

.App-logo{
  display: flex;
    padding: 0px;
    height: 46%;
    padding-right: -135px;
    margin-left: 9px;
    margin-top: 18px;
}
.book-count-div{
  color: #847575;
  margin-right: 764px;
  margin-top: 11px;
  font-size: 11px;
}
.cart-icon-div {
  margin-top: 14px;
    margin-left: 6px;
}
.p-footer{
  font-size: 13px;
  display: flex;
  justify-content: center;
  padding-top: 13px;
}
.footer {
  position: relative;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    height: 45px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.book-card-div {
  box-shadow: 14px 10px 11px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 228px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 17px;
  height: 322px;

}

.book-card-div:hover {
  box-shadow: 11px 11px 11px 5px rgba(0, 0, 0, 0.30);
  /*height: 323px;*/
  /*width:229px;*/
}


.MuiContainer-root {
  padding-left: 44px !important;
}

.card-header{
  padding-top: 75px;
  padding-left: 164px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.sort-by-div{
  margin-right: 166px;
}
.select-bar{
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  /*background-color: #eae6e6;*/
}
.book-title-div{
    left: 23px;
    font-family: cursive;
    margin-left: 8px;
}
.author-name-div{
  font-family: cursive;
  font-size: 13px;
  color: #968e8e;
  margin-left: 8px;
  margin-top: -15px;
}
.book-price-div{
    font-family: cursive;
    margin-left: 8px;
    margin-top: -9px;
}

.button-div{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.add-bag-button{
  height: 29px;
  width: 110px;
  background-color: #791212;
  color: whitesmoke;
  font-family: cursive;
  border: 1px solid black;
  border-radius: 5px;
}
.add-bag-button:hover{
  background-color:#a22121;
  transition-duration: .3s;
  width: 115px;
}
.add-bag-button:focus{
  width:174px;
  margin-left: 7px;
  margin-right:7px;
}
.wishlist-button{
  width: 79px;
    background-color: #ffffff;
    color: black;
    font-family: cursive;
    border: 1px solid black;
    border-radius: 5px;
}
.wishlist-button:hover{
  background-color: #f7f3f3;
  transition-duration: .3s;
  width: 93px;
}
.MuiContainer-maxWidthLg {
    margin-left: 22px !important;
}
.BookCard-Header {
  font-size: 22px;
  font-family: cursive;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 80px;
}